# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Actinium Client
Exec=electrum-actinium %u
GenericName[en_US]=Actinium Wallet
GenericName=Actinium Wallet
Icon=electrum-actinium
Name[en_US]=Electrum Actinium Wallet
Name=Electrum Actinium Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/actinium;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum-actinium --testnet %u
Name=Testnet mode
